.carousel-container {
    text-align: center;
    padding: 20px;
  }
  
  .text-container {
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 1.2em;
    color: #555;
  }

  .slider-container{
    margin: 20px;
  }

  .big{
    
overflow: hidden;
position: relative;
  display: inline-block;
  }
  img{
    display: block; 
  width: 100%;
  }
  .image-heading {
    position: absolute;
    top: 10px; 
    left: 10px; 
    color: white; 
    padding: 5px; 
    margin: 0; 
  }
  
  .image-button {
    position: absolute;
    bottom: 10px; 
    left: 10px; 
    background-color: white; 
    color: black; 
    border: none; 
    padding: 10px; 
    border-radius: 10px;
    cursor: pointer; 
  }
 

  .bigImage{
    width: 250px;
    height: 400px;
    border-radius: 10px;
    
    transition: transform 0.3s ease; 
  }
  
  .bigImage:hover{
    transform: scale(1.1);
  }

  .small{
    overflow: hidden;
    display: block; 
  width: 100%;
  }
  .smallImage{
    width: 250px;
    height: 190px;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  .smallImage:hover{
    transform: scale(1.1);

  }

  .small .text{
    
    width: 250px;
    height: 190px; 
    overflow: hidden; 
  padding: 10px; 
  box-sizing: border-box; 
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: white;
  border-radius: 10px;
  }
  .text1{
    background-color: #555;
  }
  .text2{
    background-color:rgb(20, 66, 37);

  }
  .text3{
    background-color:rgb(5, 34, 134);
  }
  .text4{
    background-color:rgb(12, 150, 139);
  }
 .heading, .subheading {
    margin: 0; 
    color: white;
  }
  
  .heading {
    font-size: 1.2em; 
  }
  
  .subheading {
    font-size: 1em; 
  }
  
  .paragraph {
    color: white;

    font-size: 0.9em; 
    margin: 0; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    white-space: normal; 
  }

 @media (max-width: 996px) {
  .slider-container{
  font-size: larger;
    margin-left: 10%;
    padding: 10px;
   width: 100%;
  }
  }
  @media (max-width: 600px) {
    .slider-container{
      margin-left: 30%;
      padding: 10px;
     width: 100vh;
    }
    }